// background-color avatar
.cl0 {
	background-color: $cl0;
}
.cl1 {
	background-color: $cl1;
}
.cl2 {
	background-color: $cl2;
}
.cl3 {
	background-color: $cl3;
}
.cl4 {
	background-color: $cl4;
}
.cl5 {
	background-color: $cl5;
}
.cl6 {
	background-color: $cl6;
}
.clNaN,.cl-1 {
	background-color: $cl7;
}